<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详细信息</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<!--    <link rel="stylesheet" type="text/css" href="__CSS__/common2.css">无用-->
    <link rel="stylesheet" type="text/css" href="__CSS__/route-detail.css">
    <style>
        body{
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .table-css,.header{
            float: left;
        }
        .table-css{
            width:75%;
        }
        #show_paid{
            z-index: 2;
            float: left;
            left: 30%;
            top: 30%;
            position: fixed;
            display: none;
            width: 400px;
            height: 300px;
        }
        #b_num{
            width: 60px;
        }
        #car,#buy{
            display: none;
        }
    </style>
</head>
<body>
<!--引入头部-->
<header class="header">
    <include file="./Public/static/header.html"  detail="active"  />
</header>
<!-- 详情 start -->
<div class="wrap table-css">
<!--    //弹窗-->
    <div style="margin-left: 150px">{$list.w_name}</div>
    <div class="prosum_box">
        <dl class="prosum_left">
            <if condition="$admin_name eq ''">
                <dt>
                    <img alt="" class="big_img" src="http://www.jinmalvyou.com/Public/uploads/goods_img/img_size4/201703/m49788843d72171643297ccc033d9288ee.jpg">
                </dt>
                <else />
                <dt>
                    <img alt="" class="big_img" src="{$list.w_img}">
                </dt>
                <dt title="" class="little_img" >
                    <img src="{$list.w_img}">
                </dt>
            </if>
            <dd id="dd">
                <a class="up_img up_img_disable"></a>
                <a class="down_img down_img_disable" style="margin-bottom: 0;"></a>
            </dd>
        </dl>
        <div class="prosum_right">
            <p class="pros_title"><span id="rname"> 【新品特卖】全国销售</span></p>
            <p class="hot"><span id="routeIntroduce"> 5月新品，立付九折！爆款有限，抢完即止！</span></p>
            <p>描述:<span>{$list.w_commit}</span></p>
            <div class="pros_other">
                <p><span id="sname">经营商家  ：{$list.w_lead}</span></p>
                <p><span id="consphone">咨询电话 : 168-168-168</span></p>
                <p><span id="address">地址 ： 憨憨实体店</span></p>
            </div>
            <div class="pros_price">
                <p>库存:<div id="w_stock">{$list.w_stock}</div></p>
                <p class="price"><strong id="price">{$list.w_price}</strong><span>起</span></p>
                <p class="collect">
                    <a id="topaid" class="btn"><i class="glyphicon ">立即下单</i></a>
                    <a  class="btn " ><i id="tounpaid" class="glyphicon glyphicon-heart-empty">加入购物车</i></a>
                    <span>本月已售100单</span>
                </p>
            </div>
        </div>
        <span >
            <div id="show_paid" class="alert alert-warning alert-dismissible" >
                <button type="button" class="close" ><span >&times;</span></button>
                <div><strong>下单确认:</strong><br>
                    <div >{$list.w_name}</div>
                    <div id="paid_content">
                        <span>商品单价:<span id="w_price">{$list.w_price}</span></span><br>
                        <span>购买数量:
                            <span>
                                <input id="decrease" type="button" value="-">
                                <input id="b_num"  type="number" value="1">
                                <input id="increase" type="button" value="+">
                            </span>
                        </span><br>
                        <span>小计:￥
                            <span id="m_count" >{$list.w_price}</span>元
                        </span><br>
                        <span>
                            <a id="buy" href="javascript:void(0)">确认购买</a>
                            <a id="car" href="javascript:void(0)">加入购物车</a>
                        </span>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <div class="you_need_konw">
        <span>买家须知</span>
        <div class="notice">
            <h4>本平台承诺</h4>
            <p>
                本平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！
                注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！ <br>
            <h4>品质保障</h4>
            <p>本商城向您保证所售商品均为正品行货，本自营商品开具机打发票或电子发票。</p>
            <h4>权利声明：</h4>
            <p>
               本品台上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是本平台重要的经营资源，未经许可，禁止非法转载使用。
                注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
            <h4>价格说明：</h4>
            <p>
                <p><strong>售价：</strong> 售价为商品的销售价，是您最终决定是否购买商品的依据。</p>

                <p><strong>划线价：</strong>商品展示的划横线价格为参考价，并非原价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>

                <p><strong>折扣：</strong>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>

                <p><strong>异常问题：</strong>商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p></p>
        </div>
    </div>
</div>
<div style="display: none">
    <span id="w_id">{$list.w_id}</span>
    <span id="u_id">{$u_id}</span>
</div>
<!-- 详情 end -->

<!--引入头部-->
<footer>
    <include file="./Public/static/footer.html"   />
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__JS__/jquery-3.3.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__JS__/bootstrap.min.js"></script>
<script>
    $(function () {
        //下单确认开启
        $("#topaid").click(function () {
            $("#show_paid").show()
            $("#buy").show()
        })
        // 下单关闭
        $(".close").click(function () {
            $("#show_paid").hide()
            $("#buy").hide()
            $("#car").hide()
        })
        //加入购物车开启
        $("#tounpaid").click(function () {
            $("#show_paid").show()
            $("#car").show()
        })
        //限制购买数量正数
        $("#b_num").change(function () {
            if(this.value < 1){
                this.value = 1
            }
            let w_stock=parseInt($("#w_stock").html())
            if (this.value>w_stock){
                this.value=w_stock
            }
            let m_count=this.value*parseInt($("#w_price").html())
            $("#m_count").html(m_count)
        })
        //增减按钮
        $("#decrease").click(function () {
            let w_stock= parseInt($("#b_num").val());
            if (w_stock<2){
                $("#b_num").val(1)
            }else {
                $("#b_num").val(w_stock-1)
            }
            let m_count=$("#b_num").val()*parseInt($("#w_price").html())
            $("#m_count").html(m_count.toFixed(2))
        })
        $("#increase").click(function () {
            let b_num= $("#b_num").val();
            let w_stock = $("#w_stock").html();
            if (parseInt(b_num)>=parseInt(w_stock)) {
                $("#b_num").val(w_stock)
            }else {
                $("#b_num").val((parseInt(b_num)+1).toString())
            }
            let m_count=$("#b_num").val()*parseInt($("#w_price").html())
            $("#m_count").html(m_count.toFixed(2))
        })
        $("#buy").click(function () {
            let w_id=$("#w_id").html();
            let u_id=$("#u_id").html();
            let p_count=$("#b_num").val();
            location.href="__CONTROLLER__/gopaid?fr=detail&w_id="+w_id+"&u_id="+u_id+"&p_count="+p_count
        })
        $("#car").click(function () {
            let w_id=$("#w_id").html();
            let u_id=$("#u_id").html();
            let p_count=$("#b_num").val();
            location.href="__CONTROLLER__/gounpaid?w_id="+w_id+"&u_id="+u_id+"&p_count="+p_count
        })

    })
</script>
</body>
</html>